<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/scripts/qrcode.js">
</script>
    <script type="text/javascript" src="/scripts/html5-qrcode.js">
</script>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details Page</title>
</head>
<body>
     <div> OrderId: 80939383836657</div>
    <div id ="eventId" hidden>{{event._id}}</div>
        <div id ="userId" hidden>{{ user._id}}</div>
    <div> Name: {{user.userName}}</div>
     <div id ="email" > Email: {{user.email}}</div>
        <div id="event" >Event Name: {{event.title}} </div>
           <div >Event date: {{event.sDate}} - {{event.eDate}} </div>
          <div>Event location: {{event.stAddr}}</div>
          {{#ifNotEquals event.cost 0}}
            <div>Amount Paid: $ {{event.cost}}</div>
         {{/ifNotEquals}}
             <div id="qrcode"></div>
     

<script  type="text/javascript">
   function updateQRCode() {
    var email = document.getElementById("email");
    var eventId = document.getElementById("eventId").value;
      var userId = document.getElementById("userId").value;
    var eventName = document.getElementById("event");
    var element = document.getElementById("qrcode");
    var text = 'http://localhost:3000/details/ticket.pdf?id='+eventId+'&userId='+userId;

    var bodyElement = document.body;
    if(element.lastChild)
      element.replaceChild(showQRCode(text), element.lastChild);
    else
      element.appendChild(showQRCode(text));

  }
 updateQRCode()
</script>

</body>

</html>

