<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details Page</title>
</head>
<body>
     <div> OrderId: 80939383836657</div>
    <div> Name: {{user.userName}}</div>
     <div> Email: {{user.email}}</div>
        <div >Event Name: {{event.title}} </div>
           <div >Event date: {{event.sDate}} - {{event.eDate}} </div>
          <div>Event location: {{event.stAddr}}</div>
          {{#ifNotEquals event.cost 0}}
            <div>Amount Paid: $ {{event.cost}}</div>
         {{/ifNotEquals}}
     



</body>

</html>

